@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}

form>*:not(label) {
    display: block;
    margin-bottom: 20px;
}

.card {
    background-color: red;
    max-width: 20%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-wrapper>h3 {
    padding-bottom: 0.5em;
}

.actions-wrapper {
    display: flex;
    flex-direction: row;
}

.actions-wrapper>button {
    display: grid;
    place-content: center;
    margin-left: 0.5em;
}