body {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.back-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
    margin: 0.5em 0 0 0.5em;
    max-width: 150px;
    max-height: 50px;
    border: 2px solid blueviolet;
    border-radius: 5em;
    text-decoration: none;
    color: blueviolet;
    font-size: 100%;
    font-weight: 500;
    transition: all 150ms;
}

.back-btn:hover,
.back-btn:focus {
    transform: scale(101%);
    box-shadow: 0.1em 0.1em 0 blueviolet;
    margin: 0.4em 0.1em 0.1em 0.4em;
}

.back-btn:active {
    transform: scale(100%);
    box-shadow: none;
    margin: 0.5em 0 0 0.5em;
}

.quick-overview {
    margin: auto;
    width: 95%;
    height: 90%;
    padding: 1em;
    border-radius: 7px;
    background-color: #e4e4e2;
}

.main {
    flex: 5 1 auto;
}