@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
	scroll-behavior: smooth;
}

:root {
	--primary-color: #6200ee;
	--primary-color-variant: #3700b3;

	/* Dark theme colors */
	--bg-dark: #121212;
	--overlay-1-dark: #1e1e1e;
	--overlay-1-hover-dark: #2e2e2e;
	--overlay-2-dark: #464646;
	--shadow-dark: #00000040;
	--text-dark: #fff;
	--subtitle-dark: #c8c8c8;

	/* Light theme colors */
	--bg-light: #fff;
	--overlay-1-light: #dcdcdc;
	--overlay-1-hover-light: #dbdbdc;
	--overlay-2-light: #c8c8c8;
	--shadow-light: #00000080;
	--text-light: #000;
	--subtitle-light: #4b4b4b;
	--outline-light: #c8c8c8;
}
