@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #FAEBEF;
    color: #333D79;
}

main {
    margin: auto;
}

.search-wrapper {
    text-align: center;
}

.identity-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 35vw;
    margin: auto;
}

.identity-wrapper>img {
    height: 90px;
    aspect-ratio: 1/1;
}

.identity-wrapper>h1 {
    font-size: 50px;
    padding-left: 2.5%;
}

.search-bar {
    margin-block: 7.5%;
    width: 35vw;
    height: 45px;
    font-size: 100%;
    padding-inline: 1.5%;
    border-radius: 7px;
    background-color: #C8BCBF;
    border: none;
    color: #293161;
    font-weight: 500;
}

.search-bar::placeholder {
    opacity: 0.8;
}

.search-bar:active,
.search-bar:focus {
    outline: 2px solid #293161;
}

.recent-wrapper {
    width: 45vw;
    margin: auto;
}

.recent-wrapper>h2 {
    padding-bottom: 2%;
    font-size: 1.5em;
}

.recent-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.recent-list>li {
    flex-grow: 1;
    max-width: 16%;
    margin-inline: 2%;
}

.recent-list a {
    text-decoration: none;
    color: #333D79
}

.recent-search {
    min-height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    transition: background-color 250ms;
}

.recent-search:hover {
    background-color: #E1D4D7;
}

.img-wrapper {
    background-color: #C8BCBF;
    display: flex;
    justify-content: center;
    width: 80%;
    aspect-ratio: 3/2;
    padding: 10%;
    margin-top: 10%;
    border-radius: 10px;
}

.recent-search-name {
    padding-block: 10%;
    font-weight: 500;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333D79;
        color: #FAEBEF;
    }

    .search-bar {
        background-color: #5C6494;
        color: #C8BCBF;
    }

    .search-bar:active,
    .search-bar:focus {
        outline: 2px solid #C8BCBF;
    }

    .recent-list a {
        color: #FAEBEF;
    }

    .recent-search:hover {
        background-color: #475086;
    }

    .img-wrapper {
        background-color: #5C6494;
    }
}