*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    min-height: 100vh;
}

main {
    margin: auto;
}

.search-wrapper {
    text-align: center;
}

.recent-wrapper {
    width: 50vw;
    margin: auto;
}

.recent-wrapper > h2 {
    padding-block: 2%;
}

.recent-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.recent-list > li {
    flex-grow: 1;
    max-width: 16%;
    margin-inline: 2%;
}

.recent-search {
    min-height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    transition: background-color 250ms;
}
.recent-search:hover {
    background-color: green;
}

.img-wrapper {
    background-color: yellow;
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 10%;
    margin-top: 10%;
    border-radius: 10px;
}

.recent-search-name {
    padding-block: 10%;
}